In [21]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [22]:
np.random.seed(124)

class_0_ratio = 0.9
n_samples = 1000

class_0 = int(class_0_ratio*n_samples)
class_1 = int(n_samples-class_0)

In [23]:
class_0,class_1

(900, 100)

In [24]:
class_0_df = pd.DataFrame({
    "feature1":np.random.normal(loc=0,scale=1,size=class_0),
    "feature2":np.random.normal(loc=0,scale=1,size=class_0),
    "target":[0]*class_0
})

class_1_df = pd.DataFrame({
    "feature1":np.random.normal(loc=1,scale=1,size=class_1),
    "feature2":np.random.normal(loc=1,scale=1,size=class_1),
    "target":[1]*class_1
})

In [25]:
df = pd.concat([class_0_df,class_1_df], ignore_index=True)
df

     feature1  feature2  target
0    0.288479 -0.314428       0
1   -0.462954  0.453835       0
2   -1.338004 -0.408471       0
3    2.317016 -0.471043       0
4   -1.467376 -1.313566       0
..        ...       ...     ...
995  0.006905  0.334676       1
996  0.565183  0.506880       1
997  0.340756 -1.159481       1
998 -0.172854  2.013070       1
999  0.224875  1.811997       1

[1000 rows x 3 columns]

In [26]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [27]:
df_majority = df[df['target']==0]
df_minority=df[df['target']==1]
df_majority.shape, df_minority.shape

((900, 3), (100, 3))

In [34]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)
df_minority_upsampled.shape

(900, 3)

In [30]:
df_minority_upsampled.head()

     feature1  feature2  target
951  3.766009  1.431443       1
992  1.811024  0.627732       1
914 -1.183178  1.943969       1
971  1.857019  1.562003       1
960 -0.207517  1.515317       1

In [32]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [33]:
df_upsampled.head()

   feature1  feature2  target
0  0.288479 -0.314428       0
1 -0.462954  0.453835       0
2 -1.338004 -0.408471       0
3  2.317016 -0.471043       0
4 -1.467376 -1.313566       0